<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.its_pky.coversongs" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/photo3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SidSlathia"
            android:label="@string/title_activity_sid_slathia" >
        </activity>
        <activity
            android:name=".Shirl"
            android:label="@string/title_activity_shirl" >
        </activity>
        <activity
            android:name=".jonita"
            android:label="@string/title_activity_jonita" >
        </activity>
    </application>

</manifest>
